/* Media queries */

@media screen and (min-width: 576px) {
    body {
        font-size: 16px;
    }

    .display-3 {
        font-size: 40px;
    }

    .display-6 {
        font-size: 24px;
    }
}

@media screen and (min-width: 576px) {
    img.logo.larger-logo {
        width: 430px;
    }

    .display-2 {
        font-size: 40px;
    }
}

@media screen and (min-width: 768px) {
    .container-media {
        max-width: 720px;
    }

    img.logo {
        width: 200px;
    }

    .md-no-padding {
        padding: 0;
    }
}

@media screen and (min-width: 992px) {
    img.logo.larger-logo {
        width: 200px;
    }
}