:root {
    --bs-primary: #0d6efd;
    --bs-primary-rgb: 13,110,253;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

ul {
    list-style-type: none;
}

nav {
    box-shadow: 0 0 3px black;
}

footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 16px;
}

#sony-logo {
    width: 100px;
}

#ps-logo-trademark {
    width: 100px;
}

#globe-img {
    width: 25px;
}

#sie-logo {
    width: 150px;
}

.text-gray {
    color: rgba(0, 0, 0, 0.6);
}

.white-svg {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(267deg) brightness(107%) contrast(100%);
}

.chevron {
    width: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover .chevron {
    display: none;
}

.navbar-light .navbar-nav .nav-link:hover .chevron.chevron-blue {
    display: inline-block !important;
}

.btn-secondary {
    background-color: #D9DADC;
    border-color: #D9DADC;
    color: var(--bs-primary);
}

.rounded-corners {
    border-radius: 20px;
}

section, .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section.jumbo-content {
    background-size: cover;
    background-position: center;
}

section.jumbo-content.returnal {
    background-image: url("../img/jumbo-bg.png");
    background-position: top center;
    padding: 17rem 0 3rem 0;
}

section.jumbo-content.it-takes-two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

img.logo {
    width: 325px;
}

.img-container.active {
    border: 3px solid var(--bs-primary);
    border-radius: 25px;
}

.slider-option.active {
    border-bottom: 3px solid var(--bs-primary);
}

.slider-option:not(.active) {
    opacity: 0.6;
}

section.new-releases {
    background-color: #333333;
}

section.ps-plus {
    background-color: #BEBCBB;
}

section.ps-now {
    background-color: #161C3B;
}