:root {
    --bs-body-font-size: 1.125rem;
    --bs-primary: #0d6efd;
    --bs-primary-rgb: 13,110,253;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.text-gray {
    color: rgba(0, 0, 0, 0.6);
}

.text-small {
    font-size: 0.9rem;
}

.rounded-corners {
    border-radius: 20px;
}

section:not(.no-padding), .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section.jumbo-content {
    background-size: cover;
    background-position: center;
}

section.jumbo-content.returnal {
    background-image: url("../img/jumbo-bg.png");
    background-position: top center;
    padding: 17rem 0 3rem 0;
}

section.jumbo-content.it-takes-two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

.img-container.active {
    border: 3px solid var(--bs-primary);
    border-radius: 25px;
}

.slider-select a.active {
    border-bottom: 3px solid var(--bs-primary);
}

.slider-select a:not(.active) {
    opacity: 0.6;
}

section.new-releases {
    background-color: #333333;
}